<footer class="footer">
  <nav class="menu">
    <ul class="menulist">
      <li class="menuitem">
        <a class="menulink" href="./index.html">Legal</a>
      </li>
      <li class="menuitem">
        <a class="menulink" href="./index.html">Cookies</a>
      </li>
      <li class="menuitem">
        <a class="menulink" href="./index.html"
          >Información sobre los anuncios</a
        >
      </li>
    </ul>
  </nav>
  <div class="lang-and-copy">
    <div class="lang">España <span class="flag"></span></div>
    <small class="copy">&copy; 2021 Spotify Adalab</small>
  </div>
</footer>
