// fonts
$font-main: "Franklin Gothic Medium";

// colors
$color-bg: #f3f4f5;
$color-secondary: #999;
$fontsize-title-big: 42px;
$fontsize-title-medium: 36px;
$fontsize-title-small: 24px;
$fontsize-small: 12px;

$padding-horiz-header: 10px;
$padding-horiz-content: 40px;

$background-blue: #529cf1;
$background-green: #26b758;
$background-black: #000000;
$text-black: #000000;
$text-white: #ffffff;
