.benefits {
  padding: 40px, 80px, 80px, 40px;
  padding-bottom: 80px;
}

.benefits .title {
  margin-top: $fontsize-title-medium;
  font-size: $fontsize-title-medium;
  font-weight: bold;
  line-height: 1.5em;
  text-align: center;
  font-size: 40px;
}

.benefits .reason-container {
  display: flex;
  flex-direction: column;
}

.benefits .reason {
  display: flex;
}

.benefits .reason .image {
  width: 150px;
  height: 150px;
  margin-right: $padding-horiz-content;
}

.benefits .reason .title {
  font-weight: bold;
  text-align: left;
  font-size: 36px;
}

.benefits .reason .text {
  margin-top: 12px;
  font-size: 20px;
}

@media (min-width: 768px) {
  .benefits .reason-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .reason {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .reason {
    width: 25%;
    flex-direction: column;
    align-items: center;
  }

  .benefits .reason .title,
  .benefits .reason .text {
    text-align: center;
  }
}
