.trial {
  min-height: 70vh;
  margin-top: 60px;
  padding: $padding-horiz-content;
  background-color: $background-blue;
  color: $text-white;
}

.title {
  margin-top: calc($fontsize-title-big * 2);
  font-size: $fontsize-title-big;
  font-weight: bold;
  line-height: 1.5em;
}

.subtitle {
  margin-top: $fontsize-title-medium;
  font-size: $fontsize-title-small;
  font-weight: bold;
  line-height: 1.5em;
}

.link {
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 20px auto;
  background-color: $background-green;
  border-radius: 15px;
  color: $text-white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.disclaimer {
  font-size: $fontsize-small;
}
